/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/Header/page.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.page_button__X4z0x {
  font-size: 18px;
  color: #606c38;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  margin-inline: 12px;
}

.page_button__X4z0x:focus,
.page_button__X4z0x:hover {
  color: #273e47;
}

.page_button__X4z0x:focus:after,
.page_button__X4z0x:hover:after {
  width: 100%;
  left: 0%;
}

.page_button__X4z0x:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #ff8500;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.page_line__ypq43 {
  /* font-weight: 800; */
  color: #babd8d;

}

.page_modal__3WNsq {
  position: absolute;
  background-color: #ff8400;
  top: 100%;
  right:0;
  width: 80%;
  z-index: 1;
}

/* .hh{
  position: relative;
} */

.page_back__ba0mg{
  position: absolute;
  background-color:rgb(0, 0, 0) ;
  top: 100%;
  right: 0;
  width:100%;
  height:100%;
}
